* {
    box-sizing: border-box;
    overflow: hidden;
}


/* header */
header {
    width: 1024px;
    height: 65px;
    /* background-color: lightblue; */
    margin: auto;
    border: 1px solid black;
    border-bottom: 0;
    text-align: center;
    padding: 5px;
}

img {
    text-align: center;
}

/* container */

.container {
    display: flex;
    width: 1024px;
    height: calc(768px - 65px - 20px);
    /* background-color: lightyellow; */
    margin: auto;
}



/* container-left */
aside {
    width: 215px;
    height: calc(768px - 65px -20px);
    /* background-color: burlywood; */

    display: flex;
    flex-direction: column;
}

.aside-header {
    /* width: 215px; 一樣的意思 */
    width: 100%;
    /* flex-basis: 100px;
    height: calc(100% - 25px);
    flex-direction主軸長度 item method */
    flex-basis: calc(100% - 25px);
    /* background-color: lightpink; */
    border: 1px solid black;
    border-right: 0;


    font-family: '標楷體';
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    padding: 10px;
    color: #FF00FF;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* 先設一個box再把圖片放進去 */
.menu-item {
    margin-top: 20px;
    background-color: lightblue;
    width: 200px;
    height: 35px;
    background-image: url(../../images/menu1.png);
    border-radius: 20px;
    padding-top: 5px;
    color: #000000;
    font-size: 16px;
}

.menu-item:hover {
    background-image: url(../../images/menu2.png);
}

#aside-title {
    border-bottom: 1px solid rgb(136, 36, 182);
    padding: 10px;
}

.aside-footer {
    width: 100%;
    height: 25px;
    /* background-color: aquamarine; */

    border: 1px solid black;
    border-top: 0;
    border-right: 0;

    color: #000000;
    font-family: '標楷體';
    text-align: center;
    font-size: 16px;
    padding-top: 2px;
}


/* container-right */
main {
    width: calc(1024px - 215px);
    height: calc(768px - 65px - 20px);
    /* background-color: aquamarine; */

    display: flex;
    flex-direction: column;
}

.main-header {
    /* width: 100%; 也可以 */
    width: calc(1024px - 215px);
    height: 29px;
    /* background-color: red; */
    border: 1px solid black;
    border-bottom: 0;
    font-size: 24px;
    font-family: '標楷體';
    color: #0000FF;

}



.main-footer {
    width: 100%;
    height: calc(768px - 65px - 29px - 20px);
    /* background-color: cadetblue; */
    border: 1px solid black;

}

iframe {
    width: 100%;
    height: 100%;
    background-color: lightblue;
}


/* footer */
footer {
    width: 1024px;
    height: 20px;
    /* background-color: lightcoral; */
    margin: auto;
    border: 1px solid black;
    border-top: 0;
    /* text-align: center; */

}