*{
    box-sizing: border-box;
}

header{
    width: 1024px;
    height: 65px;
    /* background-color: lightblue; */
    margin: auto;
    border: 1px solid black;
}

.container{
    width: 1024px;
    height: calc(768px - 65px - 20px);
    /* background-color: lightcoral; */
    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

aside{
    width: 215px;
    height:calc(768px - 65px - 20px);
    /* background-color: lightgoldenrodyellow; */
    border-right: 0;
}

.aside-header{
    width: 215px;
    height: calc(768px - 65px - 20px - 25px);
    /* background-color: lightseagreen; */
    border: 1px solid black;
    border-top: 0;
    
} 

.menu{
    font-family: '標楷體';
    font-weight: 500;
    font-size: 24px;
    color: #FF00FF;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   */
    
    
}

.menu-item{
    color: #000000;
    font-size: 16px;
    background-image: url(./images/menu1.png);

    margin: auto;
    margin-top: 10px;
    width: 200px;
    height: 35px;
    padding: 10px;

}

.menu-item:hover{
    background-image: url(./images/menu2.png);
}


.aside-footer{
    width: 215px;
    height: 25px;
    /* background-color: brown; */
    border: 1px solid black;
    border-top: 0;
    border-bottom: 0;
   
    font-family: '標楷體';
    color: #000000;
    text-align: center;
    font-size: 16px;
    
}

main{
    width: calc(1024px - 215px);
    height: calc(768px - 65px - 20px);
    /* background-color: aquamarine; */

    display: flex;
    flex-direction: column;
    
}

.main-header{
    width: calc(1024px - 215px);
    height: 29px;
    /* background-color: bisque; */
    border: 1px solid black;
    
    border-top: 0;
    border-left: 0;
    
    font-family: '標楷體';
    font-size: 24px;
    color: #0000FF;

}

.main-footer{
    width: calc(1024px - 215px);
    height: calc(768px - 65px - 29px - 20px);
    /* background-color: blueviolet; */
    border-right:1px solid black;
}

iframe{
    width: 100%;
    height: 100%;
}

footer{
    width: 1024px;
    height: 20px;
    /* background-color: lightcyan; */
    margin: auto;
    border: 1px solid black;

    font-size: 16px;
    color: #000000;
    text-align: center;
    font-family: '標楷體';
}