* {box-sizing: border-box;
}

header{
    width: 1024px;
    height: 65px;
    background-color: yellow;
}


.container{
    width: 1024px;
    height: calc(768px - 65px - 20px);
    background-color: yellowgreen;
    
    display: flex;
}


aside{
width: 215px;
height: calc(768px - 65px - 20px);
background-color: palegreen;

display: flex;
flex-direction: column;
}

.aside-header{
    width: 215px;
    height: calc(768px - 65px - 20px - 25px);
    background-color: blue;

    
    
    text-align: center;
    font-family: '標楷體';
    font-weight: 500;

}


.title{
    font-size: 24px;
    text-decoration: underline;
    color: #FF00FF;
    margin-top: 10px;
}

menu{
     display: flex;
     flex-direction: column;
     justify-content: center;
    align-items: center;

}

.menu-item{

    margin-top: 20px;
    margin-left: 10px;
    background-color: lightblue;
    padding: 6px;
    color:#000000;
    font-size: 16px;
    border-radius: 10px;    
    width: 200px;
    height: 35px;
    background-image: url(./images/menu1.png); 
}

.menu-item:hover{
    background-image: url(./images/menu2.png); 
}

.aside-footer{
    width: 215px;
    height: 25px;
    background-color: blueviolet;
}

main{
width: calc(1024px - 215px);
height: calc(768px - 65px - 20px);
background-color: aqua;
}




footer{
    width: 1024px;
    height: 20px;
    background-color: brown;
}