* {
    box-sizing: border-box;
}

header {
    width: 1024px;
    height: 65px;
    /* background-color: aliceblue; */
    margin: auto;
    border: 1px solid black;
    border-bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

}

img {
    text-align: center;
    width: 994px;
    height: 60px;




}

.container {
    width: 1024px;
    height: calc(768px - 65px - 20px);
    /* background-color: antiquewhite; */
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;


}

aside {
    width: 215px;
    height: calc(768px - 65px - 20px);
    /* background-color: aquamarine; */

}

.aside-header {
    width: 215px;
    height: calc(768px - 65px - 20px - 25px);
    /* background-color: blue; */
    border: 1px solid black;
    border-bottom: 0;
}

.aside-footer {
    width: 215px;
    height: 25px;
    /* background-color: blueviolet; */
    border: 1px solid black;
    border-bottom: 0;

    font-family: '標楷體';
    color: #000000;
    text-align: center;
    font-size: 16px;

}

main {
    width: calc(1024px - 215px);
    height: calc(768px - 65px - 20px);
    /* background-color: brown; */

}


.main-header {
    width: calc(1024px - 215px);
    height: 29px;
    /* background-color: black; */
    border: 1px solid black;
    border-bottom: 0;
    border-left: 0;

    font-family: '標楷體';
    font-size: 24px;
    color: #0000FF;
}

.menu {
    font-family: '標楷體';
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #FF00FF;


}

.menu-item {
    width: 200px;
    height: 35px;
    font-size: 16px;
    color: #000000;
    background-image: url(../img/menu1.png);
    margin: auto;
    margin-top: 10px;
    padding: 10px;
}

.menu-item:hover {
    background-image: url(../img/menu2.png);
}


.main-footer {
    width: calc(1024px - 215px);
    height: calc(768px - 65px - 20px - 29px);
    /* background-color: palevioletred; */
    border: 1px solid black;
    border-bottom: 0;
    border-left: 0;
}

footer {
    width: 1024px;
    height: 20px;
    /* background-color: aqua; */
    margin: auto;
    border: 1px solid black;
}

iframe {
    width: 100%;
    height: 100%;
}