*{
    box-sizing: border-box;
    overflow: hidden;
}

header{
    width: 1024px;
    height: 65px;
    background-color: antiquewhite;
    margin: auto;
    border: 1px solid black;
}

.container{
    width: 1024px;
    height: calc(768px - 65px - 20px);
    background-color: yellow;
    margin: auto;
    display: flex;
    border: 1px solid black;
}

aside{
    width: 215px;
    height: calc(768px - 65px - 20px);
    background-color: palevioletred;
    border: 1px solid black; 
}


.aside-header{
    width: 215px;
    height: calc(768px - 65px - 20px - 25px);
    background-color: blue;
}

menu{
 display: flex;
 flex-direction: column;
 font-family: '標楷體';
 font-weight: 500;
 justify-content: center;
 align-items: center;
}
.menu-title{
font-size: 24px;
text-decoration: underline;
text-align: center;
color: #FF00FF;
}
.menu-item{

}



.aside-footer{
    width: 215px;
    height:25px;
    background-color: aquamarine;
}

main{
    width:calc(1024px - 215px) ;
    height: 100%;
    background-color: brown;
    border: 1px solid black;
}

.main-header{
    width: calc(1024px - 215px);
    height: 29px;
    background-color: blue;
}

.main-footer{
    width: calc(1024px - 215px);
    height:calc(768px - 65px - 20px - 29px);
    background-color: aquamarine;
}


footer{
    width: 1024px;
    height: 20px;
    background-color: gold;
    margin: auto;
    border: 1px solid black;
}