*{
    box-sizing: border-box;
    overflow: hidden;
}

header{
    width: 1024px;
    height: 65px;
    background-color: antiquewhite;
    margin: auto;
    border: 1px solid black;
    text-align: center;

}

img{
    width: 994px;
    height: 60px;
}
.container{
    width: 1024px;
    height: calc(768px - 65px - 20px);
    background-color: aqua;
    margin: auto;
    border: 1px solid black;
     display: flex;
}
aside{
    width: 215px;
    height:calc(768px - 65px - 20px);
    background-color:red;

    display: flex;
    flex-direction: column;
}

.aside-header{
    width: 215px;
    height:calc(768px - 65px - 20px - 25px);
    background-color: pink ;
    border: 1px solid black
}

.aside-title{
    color: #FF00FF;
    font-size:24px ;
    font-family: '標楷體';
    font-weight: 500;
    text-decoration: underline;
    text-align: center;
    margin-top: 10px;
}

menu{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.menu-item{
    width: 200px;
    height: 30px;
    background-image: url(../img/menu1.png);
    font-size:16px ;
    font-family: '標楷體';
    color: #000000;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}

.menu-item:hover{
background-image: url(../img/menu2.png);
}
.aside-footer{
    width: 215px;
    height:25px;
    background-color: lightblue ;
    border: 1px solid black

    font-size:16px ;
    font-family: '標楷體';
    color: #000000;
    text-align: center;
}


main{
    width:calc(1024px - 215px);
    height:calc(768px - 65px - 20px);
    background-color: burlywood;
}

.main-header{
    width:calc(1024px - 215px);
    height:calc(29px);
    background-color: yellow;

    color: #0000FF;
    font-size: 24px;
    font-family: '標楷體';
    
}

.main-footer{
    width:calc(1024px - 215px);
    height:calc(768px - 65px - 20px - 29px);
    background-color: yellowgreen;
}

iframe{
    width: 100%;
    height: 100%;
}



footer{
    width: 1024px;
    height: 20px;
    background-color: aquamarine;
    margin: auto;
    border: 1px solid black;

    font-size:16px ;
    font-family: '標楷體';
    color: #000000;
    text-align: center;
}